*{
  font-family: "Arvo", serif, sans-serif, system-ui;
  box-sizing: border-box;
}

:root {
  font-family: "Arvo", serif, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;
  max-width: 1280px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #606845;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.container
{
  position: relative;
  background-color: #414833;

  min-width: 140px;

  border: 1px solid #b6ad90;
  border-radius: 4px;
  
  margin: 10px 10px 10px 10px;

  box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 0.4em 0.6em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input[type="text"]
{
  color: #1a1a1a;
  background-color: #ffffff;

  border: 1px solid #b6ad90;
  border-radius: 4px;

  margin: 2px;
  padding: 4px;

  box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

input[type="text"]::placeholder
{
  color: #735751;
}

input[type="text"]:focus
{
  outline: none;
}

input[type="password"]
{
  color: #1a1a1a;
  background-color: #ffffff;

  border: 1px solid #b6ad90;
  border-radius: 4px;

  margin: 2px;
  padding: 4px;

  box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

input[type="password"]::placeholder
{
  color: #735751;
}

input[type="password"]:focus
{
  outline: none;
}

select
{
  color: #1a1a1a;
  background-color: #ffffff;

  border: 1px solid #b6ad90;
  border-radius: 4px;

  margin: 2px;
  padding: 4px;

  box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

select:focus
{
  outline: none;
}

#board
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.recipe-card
{
  min-width: 220px;
  min-height: 300px;
  padding: 2px 10px 2px 10px;
}

.recipe-card:hover
{
  border: 1px solid rgb(160, 160, 160);
  background-color: #656d4a;

  cursor: pointer;
}

.recipe-board
{
  min-width: 60vw;
  padding: 2px 10px 2px 10px;
}

.recipe-page
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.recipe-method
{
  position: relative;
  box-sizing: border-box;

  min-width: 600px;
  min-height: 400px;
}

.recipe-info
{
  position: relative;
}

.header
{
    position:sticky;
    top:0;
    padding: 8px 0px 8px 0px;
    z-index: 10;
}

.footer
{
  position: absolute;
  
  width: 100%;
  padding: 0px 10px 0px 10px;
  bottom: 12px;
  left: 0px;
}