*{
  font-family: "Arvo", serif, sans-serif, system-ui;
  box-sizing: border-box;
}

:root {
  font-family: "Arvo", serif, sans-serif, system-ui;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;
  max-width: 1280px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #606845;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.container
{
  position: relative;
  background-color: #414833;

  padding: 2px;

  min-width: auto;
  max-width: 100vw;

  border: 1px solid #b6ad90;
  border-radius: 4px;
  
  margin: 10px 10px 10px 10px;

  box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3{
  line-height: 1.1;

  margin-top: 20px;
  margin-bottom: 10px;
}
button {
  margin: 0.2em 0.3em;
  padding: 0.6em 0.8em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;

  box-shadow: rgb(0, 0, 0, 30%) 5px 5px;

  border-radius: 8px;
  border: 1px solid transparent;
  transition: box-shadow 0.25s;
}

button:hover {
  box-shadow: rgb(0, 0, 0, 30%) 2px 2px;
}

input[type="text"]
{
  color: #1a1a1a;
  background-color: #ffffff;

  border: 1px solid #b6ad90;
  border-radius: 4px;

  margin: 2px;
  padding: 4px;

  box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

input[type="text"]::placeholder
{
  color: #735751;
}

input[type="text"]:focus
{
  outline: none;
}

input[type="password"]
{
  color: #1a1a1a;
  background-color: #ffffff;

  border: 1px solid #b6ad90;
  border-radius: 4px;

  margin: 2px;
  padding: 4px;

  box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

input[type="password"]::placeholder
{
  color: #735751;
}

input[type="password"]:focus
{
  outline: none;
}

select
{
  color: #1a1a1a;
  background-color: #ffffff;

  border: 1px solid #b6ad90;
  border-radius: 4px;

  margin: 2px;
  padding: 4px;

  box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

select:focus
{
  outline: none;
}

.header
{
    position:sticky;
    top:0;
    padding: 8px 8px 8px 14px;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.header > *
{
  margin: auto 0px;
  font-size: medium;
}

.header > h2
{
  padding: 0px;
  margin: auto 0px;
  font-size: xx-large;
}

.header > div > input[type="text"]
{
  min-height: 40px;
  min-width: 220px;

  font-size: medium;
}

.header > div > select
{
  min-height: 40px;
  min-width: 100px;
  
  font-size: medium;
}

.footer
{
  position: absolute;
  
  width: 100%;
  padding: 0px 10px 0px 10px;
  bottom: 12px;
  left: 0px;
}

.text-outline
{  
  font-size: 4em;
  line-height: 0px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.auth-container
{
  padding: 20px 20px 20px 20px;
}

.auth-container > p
{
  margin: 0px;
}

.auth-container > input
{
  min-height: 40px;
  min-width: 220px;

  font-size: medium;
}

.animate__animated.animate__headShake{
  --animate-duration: 2s;
}


.error
{
  color: rgb(243, 81, 81);
  font-weight: 600;
}