#board
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
}

.recipe-board
{
  min-width: 60vw;
  padding: 2px 10px 2px 10px;
}

.recipe-card
{
  min-width: 220px;
  min-height: 300px;
  padding: 2px 10px 2px 10px;
}

.recipe-card:hover
{
  border: 1px solid rgb(160, 160, 160);
  background-color: #656d4a;

  cursor: pointer;
}

.recipe-page
{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.recipe-info
{
  position: relative;
  min-width: 300px !important;
  min-height: 300px;
  
  padding: 10px !important;
}

.recipepage-likes
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recipe-main
{
  position: relative;
  box-sizing: border-box;

  min-width: 600px !important;
  min-height: 400px;
}

.recipe-method
{
    background-color: #7b8664;
    border-radius: 4px;
    box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
    
    margin-top: 10px;
    margin-right: 10px;

    padding-left: 10px;
  
    text-align: left;
}

.recipe-create
{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  min-width: 600px !important;
}

.recipe-create input
{
  min-height: 35px;
  min-width: 220px;

  font-size: medium;
}

.recipe-create textarea
{
  color: #1a1a1a;
  background-color: #ffffff;

  border: 1px solid #b6ad90;
  border-radius: 4px;

  margin: 2px;
  padding: 4px;

  box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

.method-div{
    display: flex;
    align-items: center;
}

#stringlist-list
{
    background-color: #7b8664;
    border-radius: 4px;
    box-shadow: rgb(0, 0, 0, 20%) 5px 5px;
}

#stringlist-element
{
    border: 1px solid #b6ad90;
    border-top-style: hidden;
    border-right-style: hidden;
    border-bottom-style: dashed;
    border-left-style: hidden;
}